*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

/* main{
    width: 350px;
    height: 450px;
    background: linear-gradient(135deg );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
} */

.container{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(140deg, #00feba, #1f1466);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
    
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search> input{
    border: 0;
    outline: 0;
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search> button{
    border: 0;
    outline: 0;
    background: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search> button> img{
    width: 16px;
    margin-top: 8px;
}

.error{
    margin-top: 20px;
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    display: none;
}

.error img{
    width: 150px;
}

.weather{
    display: none;
}

.weather> .Weather-icon{
    width: 150px;
    margin-top: 20px;
}

.weather> h1{
    font-size: 70px;
    font-weight: 500;
}

.weather> h2{
    font-size: 30px;
    font-weight: 300;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.colum{
    display: flex;
    align-items: center;
    text-align: left;
}

.colum> img{
    width: 35px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 18px;
    font-weight: 600;
    margin-top: -6px;
}